@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {height: 100%}

body {
    width: 100%;
    height: 100%;
    color:#333333;
    font-size: 1em;
    font-family: "Courier New",sans-serif;
    line-height: 135%;
    background-size: cover;
    background-image: url("../Images/wallpaper.jpg");
}

/*изменение цвета ссылок*/
a {
    color: 	white;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}

a:hover {
    color: 	#00008B;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}

a:active {
    color: 	#00FF00;
}

image{
    max-width: 100%;
    height:auto;
    width: auto\9;
}

hr {
    display: block;
    border: 0;
    height: 1px;
    border-top:1px solid #ccc;
    padding: 0;
}
/*смещение текста*/

.right{float: right}
.left{float: left}
.clear{clear: both}

/*выбор текста*/

::selection {background: white ;color:#000000}
::-moz-selection {background: white ;color:#000000}

header,footer {
    width: 98%;
    background-color: #ff1c19;
    float: left;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
}

#logo {
    font-size: 1.3em;
    font-family: "garamond",sans-serif;
}

.contact{
    font-size: 1.5em;
    font-family: "garamond",sans-serif;
    margin-left: 20px;
}

input[type=text].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

input[type=text].field.focus {border: 2px solid #FF4500}
/*Параметры меню*/
#menu {
    color: #666;
    font-family: garamond,sans-serif;
    font-size:1.7em;
}

#menu hr{
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

#menuHrefs a{
    padding: 5.5px;
    border-radius: 5.5px;
    margin-right: 5.5px;
}

/*стиль сайта*/

#wrapper {
    float: left;
    width: 100%;
    margin-top: -120px;
}

#wrapper #articles{
    float: left;
    width: 80%;
    margin: 10%;
}

#wrapper #articles article{
    float: left;
    width: 31.3%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    margin-right: 2%;
    min-height: 400px;
}

#wrapper #articles article img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px silver solid;
    margin-bottom: 10px;
}

#wrapper #articles article h2{
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 1.7em;
    color:#4a4a4a;
}

#wrapper #articles article p{
    width: 80%;
    margin-left: 10%;
    text-indent: 0.5em;
}

#wrapper #articles article a{
    padding: 2.5px;
    background-color: #00008B;
    margin-left: 5%;
    border-radius: 5px;
    color:#FFF;
    float: left;
    margin-top: 10px;
}

/*кнопки*/
#main_social_block{
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin: -120px 0;
    float: left;
    background: url("../images/BG.png") repeat-x center;
    height: 50px;
}

/*info style*/
#information{
    width: 60%;
    float: left;
    background-color:orange;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#columR {
    width: 30%;
    float: left;
    margin-left: 5%;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#main_social_block_in{
    text-align:center;
    padding: 1%;
    color:#FF6600;
    height: 50px;
    background-color: #fafafa;
    border: 1px solid silver;
    border-radius: 7px;
    width: 300px;
}

#main_social_block_in a{
    float: left;
}


    /*кастомизация фута*/

footer {
    border-top: 2px solid silver;
    margin-top: 10px;
    padding: 1%;
    padding-bottom: 2.25%;

}

footer img {width: 10%; float: left; margin-right: 10px;}

#page-wrap:after {
    content: "";
    display: block;
}

footer , #page-wrap:after {height: 10px}

#page-wrap{
    min-height: 94%;
    margin-bottom: -10px;
}